@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', 'sans-serif';
}

.head {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.apps-img {
    width: 25px;
    margin-top: 10px;
}

.acc-img {
    width: 30px;
    margin-top: 10px;
}

.link {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.navbar {
    margin-left: 87%;
    justify-content: space-between;
    vertical-align: middle;
    
}

.navbar a {
    padding: 0 10px;
    margin-top: 0;
    vertical-align: middle;
}

.main {
    vertical-align: middle;
    justify-content: space-around;
    margin: 5% 35%;
    height: 100%;
}

.hero-img {
    margin: 10px;
    margin-left: 50px;
}

.search-box {
    width: 550px;
    border: solid;
    border-width: 0.5px;
    border-radius: 20px;
    height: 35px;
    margin: 10px 0 30px 0;
    padding: 5px 20px;
    font-size: 18px;
}

.btn-div {
    display: flex;
    margin-left: 100px;
    padding-left: 40px;
}

.btn {
    margin: 0 10px;
    padding: 10px 10px;
    font-size: 16px;
}

.lang-text {
    font-size: 14px;
    margin-left: 40px;
}

.lang-link{
    color: blue;
    text-decoration: underline;
}

.foot {
    margin-top: 300px;
    width: 99.417%;
}

.foot-1 {
    background-color: #f2f2f2;
    padding: 10px;
    width: 100%;
}

.foot-1-text {
    padding: 0 10px;
}

.foot-2 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    padding-bottom: 22px;
}

.links-1 {
    width: auto;
}

.links-2 {
    width: auto;
}

.links {
    padding: 0 10px;
    color: black;
    text-decoration: none;
}